@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    background-color: hsl(218, 23%, 16%);
    font-family: 'Manrope', sans-serif;
}

.page-container {
    min-width: 375px;
    max-width: 1440px;
    position: relative;
    padding-top: 20rem;
}

.advice-container {
    min-height: 320px;
    width: 95%;
    max-width: 520px;
    border-radius: 10px;
    background-color: hsl(217, 19%, 24%);
    margin: 0 auto 10rem;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.advice-container h5 {
    color: hsl(150, 100%, 66%);
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 4rem 0 2rem;
    letter-spacing: .3rem;
}

.advice-container p {
    color: hsl(193, 38%, 86%);
    font-size: 2.6rem;
    text-align: center;
}

.divider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    margin-top: 3rem;
    position: absolute;
    padding: 0 3rem;
    bottom: 20%;
}

.line {
    height: 1px;
    width: 43%;
    background-color: hsl(217, 19%, 38%);
}

.quote-marks-ctr {
    display: flex;
    justify-content: space-between;
    width: 19px;
}

.quote-mark {
    height: 16px;
    width: 6px;
    border-radius: 5px;
    background-color: hsl(193, 38%, 86%);
}

.btn {
    padding: 1.8rem 2rem;
    border-radius: 100%;
    border: none;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    background-color: hsl(150, 100%, 66%);
}

.attribution { 
    font-size: 11px; text-align: center; 
    color: hsl(193, 38%, 86%);
    font-size: 1.4rem;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 768px) and (orientation: landscape) {
    .page-container {
        padding: 3rem;
    }

    .advice-container {
        margin-bottom: 5rem;
    }
  }