@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: hsl(218, 23%, 16%);
    font-family: 'Manrope', sans-serif;
}

.page-container {
    min-width: 375px;
    max-width: 1440px;
}

.advice-container {
    height: 300px;
    width: 95%;
    max-width: 480px;
    border-radius: 10px;
    background-color: hsl(217, 19%, 38%);
    margin: 200px auto;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}